################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MovieRental/bin/Debug/net8.0
/RentalsClient/.vs/RentalsClient
/RentalsClient/RentalsClient/bin/Debug/net8.0-windows
